/* Ofertas */
*{
    padding: 0;
    margin: 0;
}

.ofertas-title{
    text-align: center;
    padding: 3rem 0;
    font-weight: bold;
}

.container{

}
.envios-img{
    text-align: center;
    padding-top: 1rem;
}