/* Ofertas */


.ofertas-title{
    text-align: center;
    padding: 3rem 0;
    font-weight: bold;
}

.container{
    padding: 0;
    margin: 0;
}
.envios-img{
    text-align: center;
    padding-top: 1rem;
}