/* Ofertas */

*{
    margin: 0;
    padding: 0;

}

.ofertas-title{
    text-align: center;
    padding: 3rem 0;
    font-weight: bold;
    color: #fff;
}

.envios-img{
    text-align: center;
    padding-top: 1rem;
}