*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

/* container padre */
.wrapper{
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(27, 26, 26);
    height: auto;
}
.header__box{
    width: 100%;
    height: auto;
}
/* header superior */
.header__superior{
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}




.box__img{
}
.box__img img{
    width: 80px;
    border-radius: 50%;
}
.box__search{
    display: inline-block;
    width: 30%;
    height: 40px;
}
.box__search input{
    width: 100%;
    height: 40px;
    border-radius: 15px;
    border: none;
    text-align: center;
    background-color: #9bdc28;
}
.box__icons{
}
.box__icons img{
    width: 20px;
    height: 20px;
}
.menu__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.menu__icons li{
    display: flex;
    padding: 5px;
    transition: all 300ms ease;
}
.menu__icons li > .imgIcons{
    display: flex;
    text-align: center;
    padding: 0 10px;
    color: #9bdc28;
    font-weight: 700;
}
.menu__icons li:hover{
    transform: scale(1.2);
}

/* header inferior */
.header__inferior-menu{
}
.container__menu{
    width: 100%;
}
.menu{
    display: flex;
    background-color: #6361619d;
    justify-content: space-between;
    padding: 0;
}
.menu li{
    padding: 5px;
    margin: 5px 10px;
    width: 100%;
    text-align: center;
    transition: all 300ms ease;
    list-style: none;
}
.menu li .navTitle{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}
.menu li:hover{
    transform: scale(1.1);
    background-color: #9bdc28;
    border-radius: 10px;
}


/* container-ofertas */

.navTitle{
    color: #fff;
}

.container-ofertas{
    padding-top: 1rem;
    background-color: #9bdc28;
}
.container-title{
    text-align: center;
    padding: 3rem 0;
}
.ofertas-figure{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.ofertas-figure div figure img{
    width: 100px;
    height: 100px;
}
.ofertas-figure figure{
    text-align: center;
    flex-wrap: wrap;
}
.ofertas-figure span{
    display: block;
}
.ofertas-figure a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #000;
    font-weight: 700;
    flex-wrap: wrap;
}

/* container-1 */
.container-1{
}
.sect_video{
    margin: auto;
    width: 100%;
    background-color: #fff;
}
.video_1{
    width: 100%;
}