*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#body{
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/002/756/360/small_2x/abstract-3d-black-technology-background-overlap-layers-on-dark-space-with-green-light-effect-decoration-modern-graphic-design-template-elements-for-poster-flyer-brochure-or-banner-vector.jpg);
}
/* Contenedor Wrapper */
.wrapper{
  margin-left: 5%;
  margin-right: 5%;
}

